<!DOCTYPE html>
<html lang="en"> <!-- en en-US -->
<head>
	{{{ link-modulepreload }}}
	<title>Stosis</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	{{{ link-stylesheet }}}
</head>
<body>
	
{{{ script-lib }}}

{{{ script-app }}}
</body>
</html>