node_modules/
package-lock.json
.sass-cache/
src/html/link-modulepreload/*
src/html/script-app/*
public/js/_templates.js
public/js/_partials.js
public/js/#.js
public/css/*
public/index.html
public/data/*
release/*